*
{
font-family:Verdana;
margin: 0;
padding: 0;
}
section
{
position:relative;
left:40px;
top:100px;
width:400px;
height:400px;

background-color:rgb(255,255,255);
background-color:rgba(255,255,255,0.6) !important;

}
#map
{
  position:fixed;
  top:0px;
  bottom:0px;
  right:0px;
  left:0px;
}
#content
{
clear:left;
}
a{text-decoration:none;}

/*menu*/
nav
{
width:100%;
}
nav ul
{
list-style:none;
width:100%;
}
nav ul li
{
float:left;
/*border: 1px solid red;
background-color:rgb(238,238,238);
background-color:rgba(238,238,238,0.6) !important;*/
line-height:30px;
width:133px;
text-align:center;
}

.color a {color:white;}
.red{background-color:red; color:white;}
.blue{background-color:blue; color:white;}
.yellow{background-color:DarkGoldenRod; color:white;}
.black{background-color:black; color:white;}
.green{background-color:DarkGreen; color:white;}

