*{
font-family:Verdana;
margin: 0;
padding: 0;
}

#map{
    position:fixed;
    top:0px;
    bottom:0px;
    right:0px;
    left:0px;
}

#descr{
    position:absolute;
    top:5%;
    right:5%;
    width:20%;
    min-height:10%;
    z-index:99999;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color:rgba(250,250,250,0.75);
    padding:10px;
}
#descr h1{
    font-size:16px;
    margin-bottom:5px;
}
#descr p{
    font-size:12px;
}

section
{
position:relative;
left:40px;
top:100px;
width:400px;
height:400px;

background-color:rgb(255,255,255);
background-color:rgba(255,255,255,0.6) !important;

}

#content
{
clear:left;
}
a{text-decoration:none;}

/*menu*/
nav
{
width:100%;
}
nav ul
{
list-style:none;
width:100%;
}
nav ul li
{
float:left;
/*border: 1px solid red;
background-color:rgb(238,238,238);
background-color:rgba(238,238,238,0.6) !important;*/
line-height:30px;
width:133px;
text-align:center;
}

.color a {color:white;}
.red{background-color:red; color:white;}
.blue{background-color:blue; color:white;}
.yellow{background-color:DarkGoldenRod; color:white;}
.black{background-color:black; color:white;}
.green{background-color:DarkGreen; color:white;}
